<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>For all</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>

<div th:replace="/header :: header"> </div>

<div class="jumbotron home-jumbo">
    <div class="container text-center text-black">
        <h1 class="display-4">Information</h1>
        <p>Below you can find information for all.</p>
    </div>
</div>
</body>
</html>