
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
              integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    </head>

    <body>

        <h3>Login page</h3>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input type="text" id = "username" name="username"/> <br/>
            <label for="password">Password</label>
            <input type="password" id = "password" name="password"/> <br/>

            <label for="rememberme">Remember me</label>
            <input type="checkbox" id = "rememberme" name="rememberme"/> <br/>

            <input type="submit" value="Log in">

        </form>

    </body>
</html>